.search-input {
  width:90vw;
  height: 50px;
  font-size: 20px;
}

.dropdown-menu{
  width: 200px;
  height: 50px;
  margin-left: 20px;
}

.sort-container{
  align-items: center;
  justify-content: center;
}

.container{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
